<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplikasitugasakhir">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikasiTugasAkhir">
        <activity
            android:name=".WaterReqGraphActivity"
            android:exported="false" />
        <activity
            android:name=".WaterRequirementActivity"
            android:exported="false" />
        <activity
            android:name=".GraphPrediksiActivity"
            android:exported="false" />
        <activity
            android:name=".InputManual2022Activity"
            android:exported="false" />
        <activity
            android:name=".InputManual2021Activity"
            android:exported="false" />
        <activity
            android:name=".InputManualActivity2016"
            android:exported="false" />
        <activity
            android:name=".InputManualActivity2020"
            android:exported="false" />
        <activity
            android:name=".InputManualActivity2019"
            android:exported="false" />
        <activity
            android:name=".InputManualActivity2018"
            android:exported="false" />
        <activity
            android:name=".InputManualActivity2017"
            android:exported="false" />
        <activity
            android:name=".WaterAvailabilityActivity"
            android:exported="false" />
        <activity
            android:name=".PrediksiActivity"
            android:exported="false" />
        <activity
            android:name=".InputManualActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>